#hud_box {
    color: white;
    margin: 5px;
    opacity: 0.8;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: arial;
}

#hud_turns .turn_box {
    background-color: #779677;
    padding: 10px 15px 10px 15px;
}

#hud_turns .turn_box.active_turn {
    border-style: solid;
    border-width: 0 0 0 10px;
    border-left-color: #00FF00;
}

#hud_turns .turn_box.ready_turn {
    background-color: #50BA2D;
}