#info_box a {
    color: white;
}

/* begin hud css */
/* begin hud css */
/* begin hud css */

#hud_box {
    color: white;
    margin: 0 0 10px 0;
    opacity: 0.8;
    position: fixed;
    right: 0;
    bottom: 0;
    font-family: arial;
}

#hud_turns {
    display: table;
}

#hud_turns .turn_box {
    display: table-row;
}

#hud_turns .turn_box div {
    display: table-cell;
}

#hud_turns .turn_box .player_turn {
    background-color: transparent;
    width: 10px;
}

#hud_turns .turn_box .player_turn.active_turn {
    background-color: #00FF00;
    width: 10px;
}

#hud_turns .turn_box .player_name {
    padding: 10px 15px 10px 15px;
    background-color: #779677;
}

#hud_turns .turn_box .player_name.ready_turn {
    background-color: #41B81A;
}

#hud_turns .turn_box .player_countdown {
    padding: 10px 15px 10px 15px;
    background-color: #607360;
}

/* end hud css */
/* end hud css */
/* end hud css */

/* begin menu css */
/* begin menu css */
/* begin menu css */

#menu_box {
    color: white;
    margin: 5px;
    opacity: 0.8;
    position: fixed;
    right: 0;
    top: 0;
}

#menu_box a {
    color: white;
}

/* end menu css */
/* end menu css */
/* end menu css */

/* begin console css */
/* begin console css */
/* begin console css */

#console_box {
    margin: 0 0 10px 0;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    background: rgba(67, 78, 89, 0.5);
    overflow-x: hidden;
}

#console_out_box {
    margin: 0 0 5px 0;
    padding: 0 100px 0 0; /* 100px hides the scroll bar*/
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
}

#console_out_box .console_line_box {
    color: white;
    font-family: arial;
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
}

#console_in_box {

}

#console_in_box textarea#console_input {
    background-color: transparent;
    color: white;
    font-family: arial;
    font-size: 1em;
    word-wrap: break-word;
    width: 280px;
    padding: 10px;
    resize: none;
    border: none;
    outline: none; /* hides blue border around textarea in chrome */
}

/* end console css */
/* end console css */
/* end console css */